body{
    background-color: #423F3E;
}
.mainheading{
    text-align: center;
    font-family: 'Lobster ', cursive;
    font-weight: bolder;
    font-size: 8rem;
   color: #4ECCA3;
   text-shadow: 10px 0 #232931;
    padding:3% 0% 5% 0%;
}
.refresh
{
    text-align: center;
    color: rgb(240, 245, 255);
    font-family:'Montserrat', sans-serif; 
    font-size: 2rem;
    padding:0% 0% 5% 0%;
    text-shadow: 3px 0 #232931;
}
p{
    color: rgb(240, 245, 255);
    font-family:'Montserrat', sans-serif; 
    font-size: 2rem;
}
.playerprofile{
    text-align: center;
    width: 50%;
  margin: auto;
  font-family: 'Montserrat bold', sans-serif;
  font-size: 2rem;
}
h2{
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: rgb(240, 245, 255);
}
}
